
body{
  background-color:rgba(245, 222, 179, 0.112);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* margin-left: 20em; */
}

h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
  background-color: var(--color-choice1);
  color: var(--color-choice3);
  padding: 15px;
  text-align: center;
}

p{
  color: #777;
  margin-top: -15px;
}

input[type = "email"]{
  margin-right: 10px;
}

#how{
  color: black;
}

#text4{
  border: 0;
  background-color:rgba(128, 128, 128, 0.084);
  padding: 1em;
  border-radius: 3px;
  width: auto;
}
#text5{
  border: 0;
  background-color:rgba(128, 128, 128, 0.084);
  padding: 1em;
  border-radius: 3px;
  width: auto;
  margin-right: 10px;
}
button{
  cursor: pointer;
  font-size: 20px;
  width: 656px;
  padding: 1em;
  background-color: #1b1b1c;
  color: whitesmoke;
  border: 0;
}
.fa-arrow-right{
  margin-left: 10px;
}


#text1{
  border: 0;
  background-color:rgba(128, 128, 128, 0.084);
  padding: 1em;
  border-radius: 3px;
  width: 300px;
}
#text3{
  border: 0;
  background-color:rgba(128, 128, 128, 0.084);
  padding: 1em;
  border-radius: 3px;
  width: 325px;
  margin-right: 10px;
}
#text2{
  border: 0;
  background-color:rgba(128, 128, 128, 0.084);
  padding: 1em;
  border-radius: 3px;
  width: 325px;
}

@media(max-width: 500px) {
  .external{
    color: rebeccapurple
  }
}

.form-control1{
  margin-right: 10px;
}
.flex3{
  display: flex;
  
}

.flex{
  display: flex;
}
.flex1{
  display: flex;
}

footer {
  background-color: #ea90ec;
  color: white;
  padding: 20px 0;
  text-align: center;
}